@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}
.btn-primary{
  @apply text-white px-[30px] py-[8px]  bg-primary cursor-pointer hover:opacity-80 transition-all;
}
.slick-dots{
  @apply flex justify-start w-full ;
}
.slick-dots .slick-active div{
  @apply bg-primary ;
}
.slick-dots li{
  @apply !m-1 !mt-6;
}
.overlay {
  
}
.btn-black{
  @apply text-white px-[30px] py-[8px]  bg-black cursor-pointer hover:opacity-80 transition-all;
}

.btn-primary:hover .btn-primary{
  content: "";
  position: absolute;
  top: 0;
  left: 2px;
  right: 2px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
}
.absolute.flex {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}



